<%- include header %>
<ul class="archive">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <% if (lastYear != post.time.year) { %>
    <li class="year-title"><%= post.time.year %></li>
  <% lastYear=post.time.year } %>
  <div class="year-article">
  <li>Post in:<time><%= post.time.day %></time></li>
  <li class="a-title"><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
  </div>
<% }) %>
</ul> 